.clearfix:after {content: "."; display: block; clear: both; visibility: hidden;	line-height: 0;	height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}

#bloc_description .entete_liste_config {clear:both}
.blocs_pliants_photo .lignesimple {height:auto;}
.caracphotos ul.lignesimple{float:none; height:auto;}
.caracphotos .cellule {/*float:none*/}


.caracphotos .accordion-wrapper {clear:left;}
.caracphotos .accordion-item {border-bottom:1px dotted #aaa; background:#ebedee; clear:both}
.caracphotos .accordion-item:nth-child(even) {background:#D4DADD}
.caracphotos .accordion-toggle {display:block; line-height:30px; background:url(../img/arrow-down.gif) no-repeat 4px 50%; color:#3B4B5B; font-weight:bold; font-size:1em; padding:0 0 0 20px; margin:0; outline:none; text-decoration:none}
.caracphotos .accordion-toggle:hover {text-decoration:underline}
.caracphotos .opened .accordion-toggle {background-image:url(../img/arrow-up.gif)}
.caracphotos .accordion-deroulant {padding:0 10px 10px 10px}

.caracphotos fieldset {border-width:2px 0 0 2px; border-style: solid}
.caracphotos fieldset legend {font-weight:bold; background:#D0D7DB; border:2px solid #aaa; padding:2px 5px}
.caracphotos .photoform {clear:left; border-left:2px solid #aaa; margin:10px 0; padding:5px; background:#D0D7DB}
.caracphotos .accordion-item:nth-child(even) .photoform {background:#ebedee}
.caracphotos .preview {margin-left:325px; width:225px; text-align:right}
.caracphotos .fields{float:left; width:320px}
.caracphotos .field label{float:left; width:100px;}
.caracphotos .field input, .caracphotos .field textarea {width:200px}
.caracphotos .photoform p.actions {text-align:right}
.caracphotos .photoform p.actions a.supprimer {color:red;}
